/* Login Logo */
.loginLogo {
  max-width: 250px;
  max-height: 100%;
  margin: 0px auto 25px auto;
  padding-top: 15px;
}

/* Jumbo Header Text */
.jumboHeaderText {
  color: #ffffff;
  /* Change banner color */
  /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
}

/* Jumbotron settings */
.jumbotron {
  background-color: transparent;
  /* set to zero to stretch banner to edge */
  padding: 0px;
}

/* Navbar Logo */
.navLogo {
  max-width: 100%;
  max-height: 52px;
}

/* Banner Logo */
.bannerLogo {
  max-width: 100%;
  /* max-height: 400px; */
}

/* Footer Logo */
.footerLogo {
  max-width: 100%;
  max-height: 100px;
}

/* Alters image size on main product page - overrides same class in bootstrap-451.css */
.product-image-large {
  margin: 0 auto;
  max-height: 400px;
  max-width: 100%;
}

/* Home message text bullets */
.homeMessageBullets ul li {
  list-style-type: disc;
}

/*.HomeMessage {
  text-align: center;
  font-size: 14pt;
  font-style: bold;
  color: #063B6D !important;
}
.HomeMessageFont2 {
  font-size: 10pt;
}
.HomeMessageFont3 {
  font-size: 13pt;
}
.HomeMessageFont4 {
  font-size: 6pt;
}*/
/* Theme CSS Edits */
/* Navbar Color - Update This */
.navbar-default {
  background-color: #000000;
}

/* Highlight Colors - Update These */
.container .navbar-nav li.active a:hover {
  background-color: #dd8b27;
}

.container .navbar-nav li.active a:focus {
  background-color: #dd8b27;
}

.navbar-default .navbar-nav .open>a {
  background-color: #dd8b27;
}

.navbar-default .navbar-nav .open>a:hover {
  background-color: #dd8b27;
}

.navbar-default .navbar-nav .open>a:focus {
  background-color: #dd8b27;
}

.navbar-nav li.dropdown li>a:hover {
  background-color: #dd8b27;
}

.navbar-nav li.dropdown li>a:focus {
  background-color: #dd8b27;
}

.navbar .container .navbar-nav li.active .fa-caret-down {
  color: #dd8b27;
}

.container .navbar-nav li.active>a {
  background-color: #dd8b27;
}

/* End match color here */
/* Change Panel Heading Color */
.panel-primary .panel-heading .panel-title {
  background-color: #dd8b27;
}

/* Change Panel Heading Font Color */
.panel-primary .panel-heading .panel-title {
  color: #ffffff;
}

/* Navbar text when highlighted */
.container .navbar-nav li.active a:hover, .container .navbar-nav li.active>a, .container .navbar-nav li.active a:focus, .navbar-default .navbar-nav .open>a:focus {
  color: #ffffff;
}

/* Navbar Default Font Color */
.navbar-default .navbar-nav .open>a:hover, .navbar-default .navbar-nav .open>a {
  color: #ffffff;
}

/* Drop down font color */
.navbar-nav li.dropdown li>a:hover {
  color: #ffffff;
}
